/*
 Theme Name:   Indohotels Blue Child
 Theme URI:    https://indohotels.com/indohotels-child/
 Description : Indohotels BLue Child Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Template:     indohotelswp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
 Text Domain:  indohotels-blue-child
*/

/*------------------------------------*\
    MAIN
    \*------------------------------------*/

/* global box-sizing */

*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
}

/* html element 62.5% font-size for REM use */

html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
}

/* clear */

.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #145d90;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a:hover {
  color: #145d90;
}

a:focus {
  outline: 0;
}

a:hover, a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

ol, li {
  list-style: none;
}

/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/

/* wrapper */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

.container {
  max-width: 960px;
}

/* PNG */

.logo-img {
  color: #fff;
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ==== sidebar ==== */

/* ==== Home ==== */

.box-home-gallery {
  /*margin-left: 40px;
  margin-right: 40px;*/
}

.button-check button.btn.btn-check {
  width: 100%;
  margin-top: 32px;
}

.home-carousel {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #145d90;
}

.home-carousel.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  left: -50px;
}

.home-carousel.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  right: -50px;
}

.title-gallery-home {
  text-align: center;
}

.title-gallery-home h2 {
  font-size: 20px;
}

.owl-prev .glyphicon.glyphicon-chevron-left, .owl-next .glyphicon.glyphicon-chevron-right {
  color: #d6903d;
  font-size: 20px;
}

/* ============= */

/* == Footer === */

/* ============= */

footer {
  /*background-image: -moz-linear-gradient( 35deg, #0b4167 0%, rgb(20, 93, 144) 50%, #0b4167 100%);
    background-image: -webkit-linear-gradient( 35deg, #0b4167 0%, rgb(20, 93, 144) 50%, #0b4167 100%);
    background-image: -ms-linear-gradient( 35deg, #0b4167 0%, rgb(20, 93, 144) 50%, #0b4167 100%);*/
}

footer .nav-bottom, nav .navbar-custom {
  margin-top: 15px;
  padding: 10px;
}

footer ul.footer-menu {
  margin-bottom: 0;
}

.footer-credits {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  padding: 10px;
  background: #000;
  font-size: 12px;
}

.footer-links {
  li {
    display: inline-block;
    padding: 0 10px;
  }
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 0px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: #145d90;
  background: white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  border: 1px solid #145d90;
  background-color: #145d90;
  color: #ffffff;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-check, .btn-check:active {
  background-color: #145d90;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all .8s ease-in;
  -moz-transition: all .8s ease-in;
  -o-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.btn-check:hover {
  background-color: #a12c1f;
  color: #fff;
}

.booking {
  margin-top: 15px;
  margin-bottom: 25px;
}

.booking input[type=submit] {
  margin-top: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.booking label {
  font-style: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.booking .input-group-addon {
  border-left: 0;
}

.booking .form-control, .booking .form-control[readonly], .booking .input-group-addon {
  background: #fff;
  height: 35px;
  padding: 4px;
}

.booking .glyphicon {
  color: #145d90;
}

.powered-by {
  margin: 10px auto;
  max-width: 150px;
}

/*------------------------------------*\
    PAGES
    \*------------------------------------*/

h1.title {
  font-size: 2.4rem;
  color: #116f4a;
  font-weight: 600;
  margin: 0 0 30px;
}

.rooms-post {
  padding: 10px;
}

.room-post h2 a {
  font-size: 24px;
  padding-top: 5px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.5;
}

/* ----------------*/

/* ------ Rooms ---*/

/* ----------------*/

.room-thumb {
  text-align: left;
  margin-bottom: 10px;
}

h2.title {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 30px;
}

h2.title-room-list {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.room-thumb:hover h2 a {
  color: #fff;
}

.room-info {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: #fff;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: #145d90;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: uppercase;
  padding: 10px;
  background-color: #145d90;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.book-room:hover {
  background-color: #fff;
  color: #145d90;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.book-room:hover a {
  color: #145d90;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.book-room a {
  color: #fff;
}

.book-room a:hover {
  color: #145d90;
  text-decoration: none;
  background-color: #fff;
  color: #145d90;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: #116f4a;
}

.rooom-no {
  margin-bottom: 30px;
}

/*-------------------------------*/

/* --- PAGE AVAILABLE ROOMS ----- */

/*-------------------------------*/

.room-booking {
  padding: 15px;
}

.room-booking .col-booking, .room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table>tbody>tr>td {
  border: none;
  color: #116f4a;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}

/* ---------------------*/

/* Page Room Details */

/* -------------------- */

.room-title-box {
  background: rgba(17, 17, 17, 0.5);
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0px auto;
  h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 5px;
    @media(max-width: 767px){
      font-size: 14px;
      font-weight: normal;
      margin: 5px;
    }
  }
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 10px;
  right: 0px;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #145d90;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features li {
  list-style-type: square;
}

/* -------------------------- */

/* ----- Gallery Slider ------*/

/* ------------------------- */

div#main_area {
  margin-left: auto;
  margin-right: auto;
}

/* Contact Us */

.contact-box {
  /* border: 1px solid #145d90; */
  /*margin: 15px;*/
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
}

.contact-headline {
  background: #145d90;
  padding: 1px 10px;
  color: #fff;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child, .contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
  line-height: 45px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info table tbody tr {
  height: 2em;
}

/*------------------------------------*\
    IMAGES
    \*------------------------------------*/

.thumb {
  overflow: hidden;
}

.thumbnail {
  border: none;
  border-radius: 0;
}

.thumbnail a>img, .thumbnail>img {
  width: 100%;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.thumbnail a>img:hover, .thumbnail>img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.box-gallery {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px!important;
  border-bottom: 0px!important;
  margin-bottom: 30px;
}

.thumbnail-box {
  margin-top: 10px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/*------------------------------------*\
    TYPOGRAPHY
    \*------------------------------------*/

@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
    \*------------------------------------*/

@media only screen and (max-width:320px) {}

@media only screen and (max-width:480px) {
  .box-logo {
    padding: 1px 10px;
    /* max-width: 180px; */
    position: fixed;
    background-color: transparent;
    box-shadow: none;
  }
  /* Rooms */
  .box-container {
    padding: 0;
    margin: 0;
  }
  .room-details {
    margin-left: -45px;
    margin-right: -45px;
  }
  h2.title-room-list {
    margin-top: 20px;
  }
}

@media only screen and (max-width:768px) {
  .home-slider {
    height: 65vh;
  }
  .box-home-gallery {
    margin-left: 50px;
    margin-right: 50px;
  }
  .room-details-spec {
    position: initial;
  }
  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }
  footer .nav-bottom ul li {
    font-size: 14px;
    padding: 5px;
  }
}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:1140px) {}

@media only screen and (max-width:1280px) {}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {}

/* -------------- */

/* --- CALERAN -- */

/* -------------- */

/* Caleran */

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start, .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  min-width: 0;
  margin: 0 !important;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1px;
  background: rgb(51, 168, 232);
  cursor: not-allowed !important;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply-d, .caleran-apply {
  background: rgb(51, 168, 232) !important;
  border: 1px solid rgb(51, 168, 232) !important;
  color: #fff;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: #fff;
  border: 1px solid rgb(51, 168, 232) !important;
  color: rgb(51, 168, 232) !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end {
  background: rgb(51, 168, 232) !important;
  color: #fff;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: right !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0 !important;
}

@media screen and (orientation: landscape) {
  .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    width: auto;
    min-width: 0;
  }
}

@media screen and (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }
  .box-text {
    margin-top: 10px;
  }
}

/* ------------------ */

/* --- End Caleran -- */

/* ------------------ */

/*------------------------------------*\
    MISC
    \*------------------------------------*/

::selection {
  background: #145d90;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #145d90;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #145d90;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
    \*------------------------------------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
